import os
import logging
from flask import Flask
from flask.ext.sqlalchemy import SQLAlchemy
from sqlalchemy import Table

app = Flask(__name__)
app.config['SQLALCHEMY_DATABASE_URI'] = 'postgresql://postgres:{{ pgsql_dbpass }}@{{ ip_sql }}:5432/{{ pgsql_db }}'
db = SQLAlchemy(app)
@app.route('/')


def hello():
    logging.basicConfig(filename='myapp.log', level=logging.DEBUG)
    logging.info('Started')

    header = '<!DOCTYPE html><html><head></head><body>'
    footer = '</body></html>'
    output = ''

    from sqlalchemy import text
    sql = text('select * from users')
    result = db.engine.execute(sql)
    usersString = ''
    usersString = usersString + 'Users: <br/>'
    for row in result:
        usersString = usersString + str(row[0]) + ' | '
        usersString = usersString + str(row[1]) + ' | '
        usersString = usersString + str(row[2]) + ' | '
        usersString = usersString + str(row[3]) + ' | '
        usersString = usersString + str(row[4]) + ' | '
        usersString = usersString + str(row[5]) + ' | '
        usersString = usersString +  '<br/>'


    from sqlalchemy import text
    sql = text('select * from permission')
    result = db.engine.execute(sql)
    permsString = '<br/><br/><br/>'
    permsString = permsString + 'Permissions: <br/>'
    for row in result:
        permsString = permsString + str(row[0]) + ' | '
        permsString = permsString + str(row[1]) + ' | '
        permsString = permsString +  '<br/>'
        
    from sqlalchemy import text
    sql = text('select * from userpermission')
    result = db.engine.execute(sql)
    userPermString = '<br/><br/><br/>'
    userPermString = userPermString + 'User permissions: <br/>'
    for row in result:
        userPermString = userPermString + str(row[0]) + ' | '
        userPermString = userPermString + str(row[1]) + ' | '
        userPermString = userPermString + str(row[2]) + ' | '
        userPermString = userPermString +  '<br/>'        

    logging.info('Finished')
    output = header + usersString + permsString + userPermString + footer
    return output

if __name__ == '__main__':
    # Bind to PORT if defined, otherwise default to 5000.
    port = int(os.environ.get('PORT', 5000))
    app.run(host='0.0.0.0', port=port)
